header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(ptrbackground.jpg);
	background-color: #00569f;
}

div#wrapper {
	min-width: 600px;
	width: 80%;
	margin: 10%;
	margin-top: 30px;
	background-color:#3399CC;
	height: 100%;
}

span.resort {
	color:#344873;
	font-weight: bold;
}

div#content ul {
	list-style-image: url(marker.gif);
	list-style-position: inside;
}

nav {
	float: left;
	overflow: hidden;
	padding-right: 50px;
	padding-left: 20px;
}

nav ul {
	font-size: 1.2em;
	list-style-type: none;
	padding-left: 0;
}

nav a:visited {
	color:#000033;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
	color:#000033;
	font-weight: bold;
	text-decoration: none;
}

nav a:active {
	color:#000033;
	font-weight: bold;
	text-decoration: none;
}

nav a:link {
	color:#000033;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	color: white;
	margin-bottom: 0;
	padding: 10px;
	background-image: url(sunset.jpg);
	background-repeat: no-repeat;
	background-position: 100%;
	background-color: #000032;
}

div#content img {
	padding-right: 40px;
	float: left;
}

h2 {
	color: #3399CC;
}

h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}

#contact {
	font-size: 90%;
}

#content {
	padding-left: 30px;
	padding-top: 5px;
	background-color: white;
	margin-left: 170px;
}

dt {
	color: #000033;
}

footer {
	padding: 30px;
	margin-left: 170px;
	background-color: white;
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
}